<% form_for @invoice do |f| %>
	<fieldset>
		<legend>Editar factura</legend>
		
		<h3>Factura nº <%= @invoice.invoice_number %></h3>
    
		<% unless @invoice.new_record? %>
		<div class="<%= cycle('even', 'odd') %> pdf right">
			<%= link_to "PDF", invoice_path(@invoice) + ".pdf" %>
		</div>
		<% end %>
		
		<div class="<%= cycle('even', 'odd') %>">
			<label for="invoice_date">Fecha:</label>
			<%= f.date_select :date, :order => [:day, :month, :year] %>	
		</div>
		
    <div  class="<%= cycle('even', 'odd') %>">
      <label for="invoice_iva">IVA:</label>
      <%= f.text_field :iva, :class => "textfield percent" %> %
      <%= error_for :invoice, :iva %>
    </div>
        
    <div  class="<%= cycle('even', 'odd') %>">
      <label for="invoice_irpf">IRPF:</label>
      <%= f.text_field :irpf, :class => "textfield percent" %> %
      <%= error_for :invoice, :irpf %>
    </div>

		<div class="<%= cycle('even', 'odd') %>">
			<label>Cliente:</label>
			<%= f.select :customer_id, 
					@customers.map {|customer| [customer.name, customer.id]},
					{}, :class => "customer"
			%>
			<%= observe_field :invoice_customer_id, 
				 :url => select_customers_path, 
				 :update => "customer_info", 
				 :with => "id" %>
		</div>
		
		
		<div>
			<%= f.submit "Guardar", :class => "button" %>
		</div>
	</fieldset>
<% end %>

<% unless @invoice.new_record? %>

<div id="invoice_lines_form">
	<%= render :partial => "/invoice_lines/invoice_lines" %>
</div>

<div class="<%= cycle('even', 'odd')%> delete_invoice">
    <%= link_to "Borrar factura", invoice_path(@invoice), :method => :delete, :confirm => "¿Seguro?" %>
</div>
<% end %>