<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<title>FactuRails - <%= @customer.name %></title>
	  <%= stylesheet_link_tag "styles" %>
			
		<style type="text/css">
			#section_content {
				margin-left: auto;
				margin-right: auto;
			}
		
		</style>
	</head>
	
	<body>
	    <div id="main">
	        <div id="content">
	            <div id="section_content">
            		<h3><%= @customer.name %></h3>
								
								<div class="<%= cycle('even', 'odd')%> xml">
									<%= link_to "XML", "invoices.xml" %>
								</div>
            		
            		<% @customer.invoices.each do |invoice| %>
            		<table class="invoice">
            			<thead>
            				<tr>
            					<th colspan="4"><%= invoice.date.to_formatted_s(:date) %> - Factura nยบ <%= invoice.invoice_number %></th>
            				</tr>
										
										<tr>
											<th class="quantity">Cantidad</th>
											<th class="description">Concepto</th>
											<th class="price">Precio</th>
											<th class="total">Total</th>
										</tr>
            			</thead>
            			
            			<tbody>
            			<% invoice.invoice_lines.each do |il| %>
            				<tr class="<%= cycle('even', 'odd')%>">
            					<td class="quantity center"><%= il.quantity %></td>
            					<td class="concept"><%= il.description %></td>
            					<td class="price right"><%= format_price(il.price) %></td>
            					<td class="right"><%= format_price(il.total) %></td>
            				</tr>
            			<% end %>
            			</tbody>
            			<tfoot>
            				<!-- base -->
            				<tr class="subtotal">
            					<td colspan="2" class="transparent"></td>
            					<td class="right">Base:</td>
            					<td class="right"><%= format_price(invoice.base) %></td>
            				</tr>
            				<!-- irpf -->
            				<tr class="subtotal">
            					<td colspan="2" class="transparent"></td>
            					<td class="right">IRPF:</td>
            					<td class="right">-<%= format_price(invoice.irpf) %></td>
            				</tr>
            				<!-- iva -->
            				<tr class="subtotal">
            					<td colspan="2" class="transparent"></td>
            					<td class="right">IVA:</td>
            					<td class="right"><%= format_price(invoice.iva) %></td>
            				</tr>
            				<!-- total -->
            				<tr class="total">
            					<td colspan="2" class="transparent"></td>
            					<td class="right">Total:</td>
            					<td class="right"><%= format_price(invoice.total) %></td>
            				</tr>
            			</tfoot>
            		</table>
            		<% end %>
                </div>
            </div>
        </div>            
	</body>
</html>
