<% remote_form_for :invoice_line, @invoice_line_url do |form| %>
	<fieldset>
		<legend>Líneas de factura: </legend>
		
		<table id="invoice_lines">
			<thead>
				
				<tr>
					<th class="quantity">Cantidad</th>
					<th class="concept">Concepto</th>
					<th class="price">Precio</th>
					<th class="total">Total</th>
					<th class="option"></th>
				</tr>
			</thead>
			
			<tbody>
				<% @invoice.invoice_lines.each do |invoice_line| %>
				<% if invoice_line.id != @invoice_line.id %>
				<tr class="<%=cycle('even', 'odd')%>" id="invoice_line_<%=invoice_line.id%>">
					<td class="right"><%= invoice_line.quantity %></td>
					<td>
						<%= link_to_remote invoice_line.description, 
								:url => edit_invoice_line_path(@invoice, invoice_line),
								:method => :get
						%>
					</td>
					<td class="right"><%= format_price(invoice_line.price) %></td>
					<td class="right"><%= format_price(invoice_line.total) %></td>
					<td class="center">
						<%= link_to_remote "Borrar", 
									:url => invoice_line_path(@invoice, invoice_line), 
									:method => :delete,
									:confirm => "¿Seguro?"
					  %>
					</td>
				</tr>
				<% else %>
				<tr class="<%=cycle('even', 'odd')%>" id="invoice_line_<%=@invoice_line.id%>">
					<%= render :partial => "invoice_line_form" %>
				</tr>					
				<% end %>
				<% end %>
				
				<% if !@invoice_line.id %>
				<tr class="<%=cycle('even', 'odd')%>">
					<%= render :partial => "/invoice_lines/invoice_line_form" %>
				</tr> 
				<% end %>
				
			</tbody>
			
			<tfoot>
				
				<!-- base -->
				<tr class="subtotal">
					<td colspan="2" class="transparent left invoice_line_flash"><%=  flash[:invoice_line] %></td>
					<td class="right">Base:</td>
					<td class="right"><%= format_price(@invoice.base) %></td>
				</tr>
				
				<!-- irpf -->
				<tr class="subtotal">
					<td colspan="2" class="transparent"></td>
					<td class="right">IRPF(<%= @invoice.irpf %>%):</td>
					<td class="right">-<%= format_price(@invoice.total_irpf) %></td>
				</tr>
				
				<!-- iva -->
				<tr class="subtotal">
					<td colspan="2" class="transparent"></td>
					<td class="right">IVA(<%= @invoice.iva %>%):</td>
					<td class="right"><%= format_price(@invoice.total_iva)%></td>
				</tr>
				
				<!-- total -->
				<tr class="total">
					<td colspan="2" class="transparent"></td>
					<td class="right">Total:</td>
					<td class="right"><%= format_price(@invoice.total) %></td>
				</tr>
				
			</tfoot>	
		</table>
		
		<%= hidden_field :invoice, :id %>
		
	</fieldset>
<% end %>