<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<title>FactuRails</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<%= stylesheet_link_tag "styles" %>
		<%= stylesheet_link_tag "calendar_date_select" %>
		
		<%= javascript_include_tag "prototype" %>
		<%= javascript_include_tag "calendar_date_select" %>
		<%= javascript_include_tag "calendar_date_select_sp_format" %>
	</head>
	
	<body>
		<div id="main">
    		<ul id="menu">
    		    <%= menu_option("Facturas", invoices_path, "invoices", @section) %>
                <%= menu_option("Clientes", customers_path, "customers", @section) %>
                <%= menu_option("Opciones", edit_user_path(current_user), "preferences", @section) %>
                <%= menu_option("Salir", url_for(:action => "logout", :controller => "login"), "logout", @section) %>
    		</ul>
    		
    		<div id="content">
    		    <%= render :partial => "section_menu" %>
                <div id="section_content">
        			<%= @content_for_layout %>
                </div>
    		</div>
            
            <div id="footer">
                <a href="http://dagi3d.net">&copy; 2007 dagi3d</a>
            </div>
        </div>
	</body>
	
</html>